h1 {
    text-align: center;
}

h2 {
    text-align: left;
}

img {
    max-width: 400px;
}

p {
    text-align: justify;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1cm;
}

article {
    max-width: 850px;
    max-height: 550px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
